body{
    background: #FFE6E6;
}
div{
    margin-top: 20px;
}
canvas{
    position: absolute;
    background: #111;
    border: 1px solid #171717;
    display: block;
    left: 280px;
}
#gameCanvasID{
    background: #C8C8C8;
}