<!DOCTYPE html>
<html data-ng-app="myAngularModule">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/baseStyle.css">

        <title>Game Title</title>
        
        <script src="library/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular-route.js"></script>
        <script src="js/baseModule.js"></script>

    </head>
    <body data-ng-controller="myBaseController">
        
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul class="nav">
                        <li><a href="#GamePage"> Game Page (Route1) </a></li>
                        <li><a href="#IntroductionPage"> Introduction (Route2) </a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div ng-view></div>
                </div>
            </div>
            
            <div data-ng-controller="mySecondController">
                <button id="fetchHTTPService" class="btn" data-ng-click="fetchHTTP()">HTTP Service Test</button>
                <div>
                    <hr>
                    HTTP Service Results from "testHTTP.html":<br>
                    <input type="text" data-ng-model="data" value="{{data}}" placeholder="httpService">                
                </div>
            </div>
            
        </div>
        
        <p />

    </body>
</html>