<!DOCTYPE html>
<html>
    <head>
        <title>Game Page</title>
    </head>
    
    <body>
        <p>This is Game page with AngularJs routes!</p>   
        <p />
        <button id = "loadGameBtn"
                    type = "button" 
                    class = "btn btn-info btn-lg" 
                    data-ng-click = "gatewayFunction();disableButton()" 
                    data-ng-disabled = "isDisabled">
                Click to Create Loading Bar on Canvas!
        </button>
    </body>
</html>
